{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "usage" }]
  ],
  "plugins": [
    "@babel/plugin-proposal-async-generator-functions",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}
